<!DOCTYPE html>
<html ng-app="project">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/jquery.2/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/app/index/index.js"></script>
    <script src="/app/userSurvey/index.js"></script>
    <script>                                                
      window.countries = '<%- JSON.stringify(countries) %>';
    </script>                                               
  </head>
  <body>
    <nav ng-controller="menuList" class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand" href="#"><%= title %></div>
        </div>
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menuItems">
            <a href="{{item.link}}" title="{{item.title}}">{{item.name}}</a>
          </li>
        </ul>
      </div>
    </nav>

    <% if (partial == 'index') { %>
      <%- include partials/index.ejs %>
    <% } %>
    <% if (partial == 'survey') { %>
      <%- include partials/user-survey.ejs %>
    <% } %>
  </body>
</html>
